absl-py==1.1.0
albumentations==1.3.0
attention-package==0.2
blessed==1.19.1
certifi==2022.12.7
charset-normalizer==3.1.0
ConfigArgParse==1.5.3
cycler==0.11.0
distro==1.8.0
docopt==0.6.2
dominate==2.7.0
fonttools==4.33.3
future==0.18.2
gpustat==1.0.0
grpcio==1.46.3
idna==3.4
imageio==2.22.1
importlib-metadata==4.11.4
joblib==1.2.0
jsonpatch==1.32
jsonpointer==2.3
kiwisolver==1.4.2
kornia==0.4.1
lpips==0.1.4
Markdown==3.3.7
matplotlib==3.5.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
networkx==2.6.3
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
nvidia-ml-py==11.495.46
onnx==1.10.1
opencv-python==4.6.0.66
opencv-python-headless==4.7.0.72
packaging==21.3
pandas==1.1.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1653922730606/work
pipreqs==0.4.13
protobuf==3.20.0
psutil==5.9.2
ptflops==0.6.9
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.5
PyWavelets==1.3.0
PyYAML==6.0
qudida==0.0.4
requests==2.28.2
scikit-build==0.16.2
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tensorboard==1.14.0
thop @ git+https://github.com/Lyken17/pytorch-OpCounter.git@43c064afb71383501e41eaef9e8c8407265cf77f
threadpoolctl==3.1.0
tifffile==2021.11.2
torch==1.5.0
torchgeometry==0.1.2
torchstat==0.0.7
torchsummary==1.5.1
torchvision==0.6.0a0+82fd1c8
tornado==6.2
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.15
visdom==0.2.4
wcwidth==0.2.5
websocket-client==1.5.1
Werkzeug==2.1.2
yacs==0.1.8
yarg==0.1.9
zipp==3.8.0
